/* media query  ---------------------------- */

@media all and (max-width: 1024px) {


	img
	{
		max-width:100%;
		height:auto
	}

#headerContent {
    width: 1024px;
}


	#mainContainer
	{
		width:100%
	}


#leftColumn {
    width: 707px;
}

#rightColumn {
    width: 310px;
}

div.photoDetails .likeButton { 

    width: 687px;
}

#related-title {
    width: 205px;
}

#related-posts .related_img {
    width: 205px;
}

@media all and (max-width: 1000px) {

	#mainContainer
	{
		width:100%
	}
	
	
	#floating_banner_left,#floating_banner_right
	{
		display:none!important
	}
	
	#headerContent
	{
		width:100%
	}
	
	#headerRight
	{
		top:0;
		position:absolute;
		right:2px
	}
	
	#leftColumn
	{
		width:68%
	}
	
	#leftColumn .fb-like
	{
		max-height:20px
	}
	
	#leftColumn .box_news *
	{
		max-width:100%!important
	}
	
		#leftColumn .box_news table td
	{
		white-space:normal
	}

	.nextListPage
	{
		width:96%
	}
	
	.photoList .thumbnail
	{
		width:370px
	}
	
	.photoList .thumbnail img
	{
		max-width:370px
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-120px
	}
	
	.photoList .info
	{
		margin-left:377px
	}
	
	.likeButton
	{
		position:inherit!important;
		float:right;
		width:100%!important
	}

	div.photoImg img
	{
		width:96%
	}

	



@media all and (max-width: 980px) {



.adsunderf { margin-bottom: 0; width: 100%;}
.adsunderf span {
float: none;
padding: 8px 0;
width: 100%;
margin-bottom:20px;
}
	#rightColumn
	{
		width:305px
	}
	
	div.photoDetails .likeButton
	{
		padding:10px 15px 5px
	}
	


@media all and (max-width: 970px) {

	
	#menuBar li:nth-child(1n+4)
	{
		display:none
	}
	
	#m_menu
	{
		display:block;
		font-size:14px;
		font-weight:700;
		color:#fff;
		background:transparent;
		border:none;
		-webkit-appearance:none;
		background:url(../images/down.gif) no-repeat right;
		max-width:120px
	}
	
	#m_menu option
	{
		background:#56290C
	}
	
	#leftColumn
	{
		width:66%
	}
	
	.photoList .thumbnail
	{
		width:330px
	}
	
	.photoList .thumbnail img
	{
		max-width:330px
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-105px
	}
	
	.photoList .info
	{
		margin-left:337px
	}



@media all and (max-width: 940px) {

	
	#logo_a *
	{
		position:relative;
		z-index:100
	}
	
	.selected
	{
		height:auto
	}
	
	#leftColumn
	{
		width:64%
	}
	
	.photoList .thumbnail
	{
		width:290px
	}
	
	.photoList .thumbnail img
	{
		max-width:290px
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-90px
	}
	
	.photoList .info
	{
		margin-left:297px
	}


@media all and (max-width: 900px) {

	

	#leftColumn
	{
		width:100%
	}
	
	#rightColumn
	{
		display:none
	}
	
	div.photoDetails .photoInfo
	{
		width:100%
	}
	
	.photoList .thumbnail
	{
		width:420px
	}
	
	.photoList .thumbnail img
	{
		max-width:100%;
		width:100%
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-130px
	}
	
	.photoList .info
	{
		margin-left:420px
	}




@media all and (max-width: 768px) {


    #related-posts {
        width: 100%;
    }

	#related-posts .related_img
	{
		width:228px
	}
	
	#related-title
	{
		width:228px
	}
	
	.photoList .info
	{
		margin-left:431px
	}




@media all and (max-width: 710px) {

	#mainContainer
	{
		width:100%
	}
	
	#headerRight .upload
	{
		display:none
	}
	
	.photoListItem
	{
		display:table;
		width:100%
	}
	
	.photoListItem .info
	{
		display:table-header-group
	}
	
	#leftColumn
	{
		width:100%
	}
	
	.photoList h2
	{
		margin:0;
		line-height:18px
	}
	
	.photoList .stats
	{
		margin:0;
		padding:2px 0
	}
	
	.info .uploader
	{
		display:none
	}
	
	#rightColumn
	{
		display:none
	}
	
	.photoList .thumbnail
	{
		float:none;
		width:100%;
		margin:auto
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-130px
	}
	
	.photoList .info
	{
		width:90%;
		margin:auto;
		position:inherit!important
	}
	
	.likeButton .text
	{
		display:none
	}




@media all and (max-width: 600px) {


.adsunderf { margin-bottom: 0; width: 100%;}
.adsunderf span {
float: none;
padding: 8px 0;
width: 100%;
margin-bottom:20px; 
}


.btn-social {
    width: 100%;
}
    

img {
	    max-width:100%;
		display:block;
		height:auto
}


	#related-title
	{
		width:258px
	}
	
	#related-posts .related_img
	{
		width:258px
	}
	
	div.photoDetails .infopost .uploader
	{
		display:NONE
	}



@media all and (max-width: 640px) {
	#related-title
	{
		width:179px
	}
	
	#related-posts .related_img
	{
		width:179px
	}
	
	div.photoDetails .infopost .uploader
	{
		display:NONE
	}
	
@media all and (max-width: 500px) {

	
	#footer ul.left
	{
		display:none
	}
	
	#footer ul.right
	{
		display:none
	}
	
	.btn-facebook
	{
		width:100%
	}
	
	.btn-twitter
	{
		display:none
	}
		
	div.photoDetails div.photoDetails div.source,div.photoDetails .uploader,.photoDetails .bottom-actions
	{
		display:none
	}
	
	div.photoImg img
	{
		margin:0 auto -22px
	}
	
	#leftColumn .fb-like
	{
		max-width:130px
	}


@media all and (max-width: 533px) {

	

	#related-title
	{
		width:225px
	}
	
	#related-posts .related_img
	{
		width:225px
	}




@media all and (max-width: 550px) {
	
	div.photoDetails .infopost .uploader
	{
		display:NONE
	}
	
@media all and (max-width: 400px) {
	.btn-facebook
	{
		font-size:13px
	}
	
	.btn-twitter
	{
		font-size:13px
	}
	
	.photoList .thumbnail img:first-child
	{
		width:100%
	}
	
	#headerRight .login a
	{
		width:104px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis
	}
	
	#menuBar li:nth-child(3)
	{
		display:none
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-110px
	}


@media all and (max-width: 440px) {
	
	div.photoDetails .likeButton .fb-share-button
	{
		display:none
	}



@media all and (max-width: 460px) {

	.photoList .info
	{
		width:100%
	}
	
	a.nextListPage
	{
		width:94%
	}
	
    #related-posts .related_img
	{
		width:410px;
		height:124px
	}
	
	#related-title
	{
		width:410px;
	}

@media all and (max-width: 480px) {

#related-posts .related_img {
    width: 435px;
}

#related-title {
    width: 435px;
}



@media all and (max-width: 375px) {

.photoDetails .featuredFanPage {

    display: NONE;
}
	#related-posts h2
	{
		font-size:15px
	}
	
	#related-posts .related_img
	{
		width:330px;
		height:124px
	}
	
	#related-title
	{
		width:330px;
		font-size:12px
	}
	
	div.photoDetails .likeButton .fb-send
	{
		display:none
	}
	
	div.photoDetails .likeButton .fb-share-button
	{
		display:none
	}


@media all and (max-width: 360px) {

.photoDetails .featuredFanPage {

    display: NONE;
}

	div.photoDetails .likeButton
	{
		padding:10px 15px 5px
	}
	
	div.photoDetails .stats
	{
		margin:16px 0
	}
	
	.btn-facebook
	{
		background:#3b5998;
		color:#fff;
		width:100%
	}
	
	.btn-twitter
	{
		display:none
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-100px
	}
	
	#headerRight .login a
	{
		width:78px
	}

    #related-title
	{
		width:320px
	}
	
	#related-posts .related_img
	{
		width: 320px;
        height: 110px;
	}
	




@media all and (max-width: 340px) {



	#loginPanel .loginButton,#loginPanel .profileButton
	{
		width:60px
	}
	
	.btn-facebook
	{
		background:#3b5998;
		color:#fff;
		width:100%
	}
	
	.btn-twitter
	{
		display:none
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-100px
	}
	
	#headerRight .login a
	{
		width:78px
	}


    #related-title
	{
		width:300px
	}
	
	#related-posts .related_img
	{
		width: 300px;
        height: 110px;
	}

@media all and (max-width: 320px) {




.photoDetails .featuredFanPage {

    display: NONE;
}

#loginPanel {
    width: 60px;
}

	#related-posts
	{
		width:100%
	}
	
	div.photoDetails .likeButton
	{
		padding:10px 15px 5px
	}
	
	div.photoDetails .stats
	{
		margin:16px 0
	}
	
	#related-title
	{
		width:280px
	}
	
	#related-posts .related_img
	{
		width:280px;
		height:109px
	}
	
	a.nextListPage
	{
		width:97%;
		font-size:12px
	}
	
	#loginPanel .loginButton,#loginPanel .profileButton
	{
		width:32px
	}
	
	.btn-facebook
	{
		background:#3b5998;
		color:#fff;
		width:100%
	}
	
	.btn-twitter
	{
		display:none
	}
	
	a.nextListPage
	{
		float:left;
		width:92%;
		color:#fff;
		margin-bottom:10px
	}
	
	#footer ul.right li
	{
		display:none
	}
	
	#footer ul.left
	{
		display:none
	}
	
	div.photoDetails .likeButton .fb-share-button
	{
		display:none
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-90px
	}
	
	#headerRight .login a
	{
		width:50px;
		text-overflow:inherit
	}


@media all and (max-width: 290px) {

	#related-title
	{
		width:250px
	}
	
	#related-posts .related_img
	{
		width:250px;
		height:109px
	}

	div.photoDetails .likeButton
	{
		padding:10px 15px 5px
	}
	
	#loginPanel
	{
		width:62px
	}
	
	.photoList .thumbnail img.videoIndicator
	{
		top:-70px
	}
	
	



@media all and (max-width: 240px) {


#related-posts {
    display: none;
}
	a.nextListPage
	{
		font-size:10px
	} 
	
	#loginPanel
	{
		display:NONE
	}


a#logo
{
	width:0
}

#loginPanel .loginButton,.searchButton
{
	display:NONE
}

.photoList h2
{
	font-size:13px
}

div.photoDetails h1
{
	font-size:13px
}

div.photoDetails .likeButton .fbLikeButton {
    padding-right: 0px;
}
